In [1]:
print('Hello, world!')

Hello, world!

In [2]:
val = input("Enter your value: ")
print(val)

Enter your value: 15
15

In [3]:
num = input ("Enter number :")
print(num)
name1 = input("Enter name : ")
print(name1)
  
# Printing type of input value
print ("type of number", type(num))
print ("type of name", type(name1))

Enter number :4
4
Enter name : Mitu Paul
Mitu Paul
type of number <class 'str'>
type of name <class 'str'>

In [4]:
name = input("Enter Employee Name: ")
salary = input("Enter salary: ")
company = input("Enter Company name: ")

# Display all values on screen
print("\n")
print("Printing Employee Details")
print("Name", "Salary", "Company")
print(name, salary, company)

Enter Employee Name: Mitu
Enter salary: 30000
Enter Company name: SE


Printing Employee Details
Name Salary Company
Mitu 30000 SE

In [ ]:
import numpy as np

print('Trace of an 3x3 identity matrix : ', np.trace(np.eye(3)))

a = np.arange(9).reshape((3,3))

print(' Matrix a :\n', a)
print('Trace of Matrix a : ', np.trace(a))

In [ ]:
import numpy as np
n=int(input())
matrix= np.random(n,n)
print(matrix)